<h1>
  <%= link_to 'Albums', albums_path %> /
  <%= link_to @photo.album.title, @photo.album %> / 
  <%= @photo.title %>
</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
